body{
    background-color: #ffffff;
    font-family: sans-serif;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
}

.intro .main-heading {
    text-align: center;
}

.intro, .todo, .footer{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.todo th, .todo td{
    padding: 0.9rem;
}

form {
    margin: 2rem auto;
    width: fit-content;
}

#value{
    height: 18px;
}